@page "/coffee-table/{coffeeID}"
@inject NavigationManager NavigationManager
@inject CoffeeServices CoffeeServices
@inject ISnackbar Snackbar

<style>
    .Buttonclass {
        width: 150px;
        padding: 10px;
        border: none;
        border-radius: 10px;
        background-color: #3f91ff;
        color: #ffffff;
        font-weight: bold;
        cursor: pointer;
        margin: 10px;
        transition: background-color 0.2s;
    }

        .Buttonclass:hover {
            background-color: #2e84e1
        }

    .SecondButton {
        width: 150px;
        padding: 10px;
        border: none;
        border-radius: 10px;
        font-weight: bold;
        cursor: pointer;
        margin: 10px;
    }
</style>

<MudText Class="ml-4 mt-5" Typo="Typo.h6">Edit Coffee</MudText>


@if (_coffee != null)
{
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-6 d-flex flex-column gap-y-3">
                <MudTextField @bind-Value="_currentPassword" Label="Current Password" Variant="Variant.Outlined" InputType="@InputType.Password"></MudTextField>
                <MudTextField @bind-Value="_coffee.CoffeeName" Label="Coffee Type" Variant="Variant.Outlined"></MudTextField>
                <MudTextField @bind-Value="_coffee.Price" Label="Price" Variant="Variant.Outlined" InputType="@InputType.Number"></MudTextField>

                @if (!string.IsNullOrEmpty(_errorMessage))
                {
                    <MudAlert Severity="Severity.Error">@_errorMessage</MudAlert>
                }
                <div>
                    <MudButton Variant="Variant.Filled" DisableElevation="true" Color="Color.Default" StartIcon="@Icons.Material.Filled.ArrowBack" Class="SecondButton" OnClick="goBack">
                        Back
                    </MudButton>
                    
                    <MudButton Class="Buttonclass" OnClick="UpdateCoffeeDetails">
                        Update Coffee
                    </MudButton>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <MudAlert Severity="Severity.Error">Invalid Coffee ID</MudAlert>
}

    @code {
    [Parameter]
    public string coffeeID { get; set; }

    [CascadingParameter]
    private GlobalState _globalState { get; set; }
    private string _errorMessage { get; set; } = "";
    private Coffee _coffee { get; set; }
    private string _currentPassword { get; set; }
    protected override void OnInitialized()
    {
        _coffee = CoffeeServices.GetCoffeeDataById(coffeeID);
    }
    protected void goBack()
    {
        NavigationManager.NavigateTo("/coffee");
    }
    protected void UpdateCoffeeDetails()
    {
        try
        {
            if (String.IsNullOrEmpty(_currentPassword))
            {
                _errorMessage = "Please enter the password";
                return;
            }
            if (String.IsNullOrEmpty(_coffee.CoffeeName))
            {
                _errorMessage = "Please enter the coffee name";
                return;
            }
            if (_coffee.Price <= 0)
            {
                _errorMessage = "Please enter a valid price for the coffee";
                return;
            }
            if (_currentPassword != "admin")
            {
                _errorMessage = "Invalid password";
                return;
            }

            CoffeeServices.UpdateCoffeeData(_coffee);

            _errorMessage = "";

            Snackbar.Add("Coffee Details is updated and stored succesfully", Severity.Success);
            goBack();
        }
        catch (Exception e)
        {
            _errorMessage = e.Message;
        }
    }
}
